/* Coolors Exported Palette - coolors.co/b8336a-726da8-7d8cc4-a0d2db-c490d1 */

/* HSL */
$color1: hsla(335%, 57%, 46%, 1);
$color2: hsla(245%, 25%, 54%, 1);
$color3: hsla(227%, 38%, 63%, 1);
$color4: hsla(189%, 45%, 74%, 1);
$color5: hsla(288%, 41%, 69%, 1);

/* RGB */
$color1: rgba(184, 51, 106, 1);
$color2: rgba(114, 109, 168, 1);
$color3: rgba(125, 140, 196, 1);
$color4: rgba(160, 210, 219, 1);
$color5: rgba(196, 144, 209, 1);